<h1>Pivotal Tracker - Harvest Integration</h1>

<h2>Step by step instruction:</h2>
<ul>
<li>Insert both Pivotal and Harvest credential in <%= link_to "User Page", new_user_path %></li>
<li>Manage integration between a project in pivotal and harvest by clicking "User Integration" from user profile page.</li>
<li>Copy the integration callback URL from the User Integration page created on previous step</li>
<li>Go to your pivotal project, go to project integration and enter the url as web hook url</li>
</ul>