<div class="how-to">
  <div class="row-fluid">
    <h1>Pivotal Tracker - Harvest Integration</h1>
    <ol>
      <li>Login with your <%= link_to 'Google account', '/auth/google_oauth2' %></li>
      <li>Insert both Pivotal and Harvest credential</li>
      <li>
        Manage integration between a project in pivotal and harvest by clicking "User Integration" from user profile page.
        <ul>
          <li>Copy the integration callback URL from the User Integration page created on previous step</li>
          <li>Go to your pivotal project, go to project integration and enter the url as web hook url</li>
        </ul>
      </li>
    </ol>
  </div>
</div>
