<div class="how-to">
  <div class="row-fluid">
    <h1>Pivotal Tracker - Harvest Integration</h1>
    <ol>
      <li>Login with your <%= link_to 'Google account', '/auth/google_oauth2' %></li>
      <li>Insert both Pivotal and Harvest credential</li>
      <li>Add the project members</li>
      <li>
        Manage integration between a project in pivotal and harvest using two approaches:
        <ul>
          <li>Create new project in both pivotal tracker and harvest through hipster by clicking "New Project" button</li>
          <li>Integrate your existing pivotal tracker and harvest project by clicking "Link Existing Project" button</li>
        </ul>
      </li>
    </ol>
  </div>
</div>
